@model LMS_SYSTEM.Models.BOOKSCATEGORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BOOKSCATEGORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-info btnn">

        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    </button>
    <button cl▐ass="btn btn-info btnn">
        @Html.ActionLink("Back to List", "Index")
    </button>☻
</p>
